body {
    background-color:#FFF;
    margin: 0;
    padding: 0;
}

#cover {
    background-image: url("Pictures/vienna-1279315_1920.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    position: relative;
    top: -55px;
    width: 100%;
    }

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: right;    
  width: 100%;
  z-index: 10000;
}

/* responsive navigation bar */
.navigation .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child) {display: none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {position: relative;}
  .navigation.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.navigation li:hover{
    background-color: #DDD;
}


ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 20px;
  text-transform: uppercase;
}


.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color:#FFF;
  top: 280px;
  width: 70%;
}

h1 {
  color: #FFF;
  font-family:'Shadows Into Light', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #FFF;
  font-family:'Shadows Into Light', cursive;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'IM Fell Great Primer', serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.mybtn {
  background-color: #14213D;
  background-image: -webkit-linear-gradient(#92b2e5, #102544);
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 14px;
  border-radius: 6px;    
}

.tours {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.tour {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.tour img {
  width: 100%;
}

.blue {
  color: #14213D !important;
}

.footer {
  background: #102544;
  padding: 10px 0;
}
.footer a {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726F;
}
.footer a:hover {
  color: grey;
}